@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

h1 {
  text-align: center;
  color: dodgerblue;
  font-family: "Pattaya", sans-serif;
}

h2 {
  color: darkgrey;
  font-size: 1rem;
}
