@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

.brand {
  font-family: "Pattaya", sans-serif;
  color: grey;
}

.brand:hover {
  font-family: "Pattaya", sans-serif;
  color: rgb(238, 159, 145);
}

nav {
  margin-bottom: 0px;
}
